<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.banner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="ms.test.banner.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ms.test.banner.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ms.test.banner.demo.BannerAnimationActivity" />
        <activity android:name="ms.test.banner.demo.BannerStyleActivity" />
        <activity android:name="ms.test.banner.demo.IndicatorPositionActivity" />
        <activity android:name="ms.test.banner.demo.CustomBannerActivity" />
        <activity android:name="ms.test.banner.demo.BannerLocalActivity" />
        <activity
            android:name="ms.test.banner.demo.CustomViewPagerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>